table {
    width: 100%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    border-bottom-width: 3px;
    border-collapse: collapse;
    outline: 3px solid #7bb57c;
    font-size: 15px;
    background: #fff!important;
}
th {
    text-align: center;
    font-weight: bold;
    padding: 7px;
    background: #7bb57c;
    border: none;
    font-size: 15px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #7bb57c;
}
 td {
     text-align: center;
    padding: 7px;
    border: none;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-size: 15px;
}
tbody tr:nth-child(even){
    background: #f8f8f8!important;
}
tr:hover td {
    color: #56CCF2;
}